<h2>Shops</h2>
<div>
  <span><h3>opened shop</h3></span>
  <mat-divider></mat-divider>
  <ul class="shop">
    <mat-list>
        <mat-list-item class="open" *ngFor="let shop of activeShops">
          <a routerLink="/detail/{{shop.id}}">
            {{shop.name}}
          </a>
          <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
  </ul>
</div>

<div>
  <h3><span>closed shop</span></h3>
  <mat-divider></mat-divider>
  <ul class="shop">
    <mat-list>
      <mat-list-item class="close" *ngFor="let shop of inactiveShops">
        <a routerLink="/detail/{{shop.id}}">
          {{shop.name}}
        </a>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </ul>
</div>

<div>
  <button mat-button (click)="goBack()">go back</button>
</div>