<ul>
  <li class="text" *ngFor="let items of item1 | async">
    {{items.title}}
      {{items.content}}
  </li>
</ul>

<div><h2>Add your hero!!</h2>
  <label>Hero name:<br>
    <input #heroName />
  </label><br>
    <label>Hero subtitle:<br>
    <input #heroSub />
  </label><br>
    <label>Hero content:<br>
    <input #heroContent />
  </label><br>
    <label>Hero image:<br>
    <input #heroImage />
  </label><br>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value,heroSub.value,heroContent.value,heroImage.value);  heroName.value='';heroSub.value='';heroContent.value='';heroImage.value='';">
    add
  </button>
</div>